body {
  font-family: "montserrat";
  margin: 0;
}

li {
  list-style: none;
}

.container {
  background-color: red;
  height: 806px;
}

.header-left {
  color :#ffffff;
  float: left;
  margin-right: 300px;
}

.header-left h2 {
  font-size: 20px;
  letter-spacing: 10px;
  margin: 33px 0 0 40px;
}

.header-left p {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  margin: 6px 0 0 40px;
  font-size : 12px;
  letter-spacing: 6px;
}

.header-right {
  display: flex;
  font-size: 18px;
  margin-left: 300px;
}

.header-right li {
  margin: 29px 35px 0 0;
}

.header-right li:first-child {
border-bottom :8px solid #000000;
padding-bottom: 4px;
}

.contents {
  margin: 271px 0 162px 142px;
}

.contents h1 {
  font-size: 64px;
  margin-bottom: 26px;
}

.contents p {
  margin-top: 15px;
  color: #ffffff;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  letter-spacing: 12px;
}
