body {
  font-family: "montserrat";
  margin: 0;
}

li {
  list-style: none;
}

#top-wrapper {
  background-image: url(../img/top.png);
  width: 1280px;
  height: 806px;
}

#header-left {
  float: left;
  margin: 36px 0 0 40px;
}

#header-left h1 {
  font-size: 20px;
  letter-spacing: 10px;
}

#header-left p {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif;
  margin-top: 6px;
  font-size: 12px;
  letter-spacing: 6px;
}

#header-right li {
  float: left;
  font-size: 18px;
  margin: 32px 35px 0 35px;
}

#header-right ul li:first-child {
border-bottom: solid 1px #707070;
}

.container h1 {
  font-size :64px;
}

.container p {
  font-size: 24px;
}
